// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: sans-serif;
$font-size-base: 18px;
$font-line-height-base: 1.6;

$size_small: 400px;
$size_medium: 800px;
$size_large: 1200px;
$size_extra_large: 1600px;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
