// Body
$color_body_fg: #383a3c;
$color_body_bg: #f8fafc;

// Typography
$font-family-sans-serif: sans-serif;
$font-size-base: 18px;
$font-line-height-base: 1.6;

$size_small: 400px;
$size_medium: 800px;
$size_large: 1200px;
$size_extra_large: 1600px;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$color_lightest: #f8fafc;
$color_lighter: #eee;
$color_light: #ccc;
$color_dark: #bbb;
$color_darker: #383a3c;
$color_darkest: #000;

$color_primary: $blue;
$color_primary_light: lighten($color_primary, 33%);
$color_primary_dark: darken($color_primary, 33%);

$color_secondary: $green;
$color_secondary_light: lighten($color_secondary, 33%);
$color_secondary_dark: darken($color_secondary, 33%);

$color_accent: $orange;
$color_accent_light: lighten($color_accent, 33%);
$color_accent_dark: darken($color_accent, 33%);

$color_success: $green;
$color_success_light: lighten($color_success, 40%);
$color_success_dark: darken($color_success, 33%);

$color_button_bg: $color_lighter;
$color_button_fg: $color_darker;
$color_button_border: $color_lighter;
$color_button_active_bg: $color_darker;
$color_button_active_fg: $color_lighter;
$color_button_active_border: $color_darker;

$color_selection_fg: #fff;
$color_selection_bg: $cyan;

$color_input_bg: #fff;
$color_input_fg: $color_darker;
$color_input_border: $color_light;
$color_input_active_bg: #fff;
$color_input_active_fg: #000;
$color_input_active_border: #000;

$transition_timing_ease_in_out: cubic-bezier(0.77, 0, 0.18, 1);
