// Variables
@import "variables";

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: $font-size-base;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family-sans-serif;
    line-height: $font-line-height-base;
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: $color_body_fg;
    background-color: $color_body_bg;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

a {
    color: $color_primary;

    &:focus,
    &:hover {
        color: $color_accent;
        text-decoration: underline;
    }
}

main {
    width: $size_large;
    margin: 0 auto;
    padding: 2em;
    max-width: 100%;
    box-shadow: 0 1em 2em -1em rgba($color_shadow, 0.1);
    background-color: #fff;

    @media screen and (min-width: $size_medium) {
        padding: 4em;
    }

    > h2 {
        margin-top: 0;
    }
}

#nav-main {
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid $color_lighter;
    background-color: #fff;

    @media screen and (min-width: $size_large) {
        margin: 0 auto 2em;
    }

    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;

        li {
            margin-left: 1em;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

#footer-main {
    padding: 4em 2em 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    background-color: #fff;

    @media screen and (min-width: $size_large) {
        margin: 4em auto 0;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;

        li {
            margin-left: 1em;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

@import "modals";
@import "buttons";
@import "draggable";
@import "media-picker";
@import "form-elements";
@import "a11y";

.icon {
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;

    &:first-child {
        margin-right: 0.4em;
    }

    &:last-child {
        margin-left: 0.4em;
    }

    &:first-child:last-child {
        margin: 0;
    }
}

.handle {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    vertical-align: middle;
    background-color: transparent;
    color: $color_dark;

    &::before {
        content: ":::";
        padding-left: 0.125em;
        vertical-align: middle;
        font-weight: 400;
        letter-spacing: 1px;
        writing-mode: vertical-lr;
    }

    &:hover,
    &:focus {
        background-color: $color_lighter;
    }
}

#form-menu #drag-area-wrapper .drag-area {
    min-height: 200px;
    max-height: 50vh;
    overflow-y: scroll;

    &.drag-area-source {
        .action {
            margin: 1em auto;
            text-align: center;
        }
    }

    .draggable {
        display: flex;

        .menu-link-name,
        .menu-link-value {
            max-width: 40%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .menu-link-name {
            font-weight: 700;
        }

        .menu-link-value {
            font-weight: 400;
            color: $color_dark;
            padding-left: 0.2em;
        }

        .menu-link-actions {
            display: inline-flex;
            white-space: nowrap;
            overflow: hidden;
            max-width: 20%;
            margin-left: auto;

            button {
                opacity: 0;
            }
        }

        &:focus-within,
        &:focus,
        &:hover {
            .menu-link-actions button {
                opacity: 1;
            }
        }
    }

    &.drag-area-destination {
        .draggable {
            .menu-link-name,
            .menu-link-value {
                max-width: 50%;
            }

            .menu-link-actions {
                display: none;
            }
        }
    }
}

table {
    width: 100%;
    border-collapse: collapse;

    td {
        border: 1px solid $color_light;
    }
}

.hide {
    display: none !important;
}
