// Variables
@import "variables";

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: $font-size-base;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family-body;
    line-height: $font-line-height-base;
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: $color_body_fg;
    background-color: $color_body_bg;
    overflow-x: hidden;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    font-family: $font-family-headings;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

a {
    color: $color_primary;

    &:focus,
    &:hover {
        color: $color_accent;
        text-decoration: underline;
    }
}

main > header {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;

    @media screen and (min-width: $size_xl) {
        margin: 4em auto 0;
        padding: 0 4em;
    }

    .header-inner {
        display: flex;
        flex-direction: column;
        padding: 2em 1em;
        background-color: $color_primary_light;
        box-shadow: 0 1em 2em -1em rgba($color_shadow, 0.1);

        @media screen and (min-width: $size_s) {
            padding: 2em;
        }

        @media screen and (min-width: $size_l) {
            padding: 2em 4em;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    .info {
        h1,
        p {
            color: $color_darkest;
            margin: 0;
        }

        h1 span {
            vertical-align: middle;
        }

        h1 .icon {
            display: none;
        }

        @media screen and (min-width: $size_s) {
            p {
                margin-left: 3.75rem;
            }

            h1 .icon {
                display: inline-block;
                margin-right: 0.1em;
                color: $color_secondary_dark;
                background-color: $color_secondary_light;
                padding: 0.2em;
                border-radius: 100%;
            }
        }
    }

    .actions {
        margin-top: 1em;
    }

    > h2 {
        margin-top: 0;
    }
}

main > .content {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;

    @media screen and (min-width: $size_xl) {
        margin: 0 auto 4em;
        padding: 0 4em;
    }

    .content-inner {
        padding: 2em 1em;
        background-color: #fff;
        box-shadow: 0 1em 2em -1em rgba($color_shadow, 0.1);
        overflow-x: auto;

        @media screen and (min-width: $size_s) {
            padding: 2em;
        }

        @media screen and (min-width: $size_l) {
            padding: 2em 4em;
        }
    }
}

@import "modals";
@import "dropdowns";
@import "buttons";
@import "draggable";
@import "media-picker";
@import "link-picker";
@import "form-elements";
@import "nav";
@import "footer";
@import "flash-message";
@import "a11y";

.avatar {
    width: 2em;
    margin-right: 0.5em;
    max-width: 100%;
    border-radius: 100%;
    background-color: #fff;

    @media screen and (min-width: $size_l) {
        margin-right: 1em;
        width: 3em;
    }
}

.padded {
    padding: 1em;

    @media screen and (min-width: $size_s) {
        padding: 2em;
    }

    @media screen and (min-width: $size_l) {
        padding: 4em;
    }

    @media screen and (min-width: $size_xl) {
        padding: 8em;
    }
}

.padded-lr {
    padding-left: 1em;
    padding-right: 1em;

    @media screen and (min-width: $size-s) {
        padding-left: 2em;
        padding-right: 2em;
    }

    @media screen and (min-width: $size-l) {
        padding-left: 4em;
        padding-right: 4em;
    }

    @media screen and (min-width: $size-xl) {
        padding-left: 8em;
        padding-right: 8em;
    }
}

.padded-tb-half {
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    @media screen and (min-width: $size-s) {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    @media screen and (min-width: $size-l) {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    @media screen and (min-width: $size-xl) {
        padding-top: 4em;
        padding-bottom: 4em;
    }
}

.icon {
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;

    &:first-child {
        margin-right: 0.4em;
    }

    &:last-child {
        margin-left: 0.4em;
    }

    &:first-child:last-child {
        margin: 0;
    }
}

.handle {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    vertical-align: middle;
    background-color: transparent;
    color: $color_dark;

    &::before {
        content: ":::";
        padding-left: 0.125em;
        vertical-align: middle;
        font-weight: 400;
        letter-spacing: 1px;
        writing-mode: vertical-lr;
    }

    &:hover,
    &:focus {
        background-color: $color_lighter;
    }
}

#form-menu #drag-area-wrapper .drag-area {
    min-height: 200px;
    max-height: 50vh;
    overflow-y: scroll;

    &.drag-area-source {
        .action {
            margin: 1em auto;
            text-align: center;
        }
    }

    .draggable {
        display: flex;

        .menu-link-name,
        .menu-link-value {
            max-width: 40%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .menu-link-name {
            font-weight: 700;
        }

        .menu-link-value {
            font-weight: 400;
            color: $color_dark;
            padding-left: 0.2em;
        }

        .menu-link-actions {
            display: inline-flex;
            white-space: nowrap;
            overflow: hidden;
            max-width: 20%;
            margin-left: auto;

            button {
                opacity: 0;
            }
        }

        &:focus-within,
        &:focus,
        &:hover {
            .menu-link-actions button {
                opacity: 1;
            }
        }
    }

    &.drag-area-destination {
        .draggable {
            .menu-link-name,
            .menu-link-value {
                max-width: 50%;
            }

            .menu-link-actions {
                display: none;
            }
        }
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8em;
    line-height: 1;

    @media screen and (min-width: $size_l) {
        font-size: 1em;
        line-height: 1.6;
    }

    tbody {
        border-bottom: 1px solid $color_lighter;
    }

    tr {
        border-collapse: collapse;
    }

    thead tr {
        background-color: $color_lighter;
    }

    tbody tr {
        background-color: #fff;

        &:nth-child(odd) {
            background-color: $color_lightest;
        }

        &:hover {
            background-color: $color_lighter;
        }
    }

    td,
    th {
        border-collapse: collapse;
        text-align: left;
        border-right: 1px solid $color_lighter;
        padding: 0.25em 0.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: $font-family-mono;

        &:first-child {
            border-left: 1px solid $color_lighter;
        }

        @media screen and (min-width: $size_l) {
            padding: 0.5em 1em;
        }
    }

    th {
        font-weight: 700;
    }

    td {
        font-weight: 400;
    }

    &.first-bold {
        tr td:first-child {
            font-weight: 700;
        }
    }

    td.auto-hide,
    th.auto-hide {
        display: none;

        @media screen and (min-width: $size_l) {
            display: table-cell;
        }
    }
}

.hide {
    display: none !important;
}
