button,
input[type="submit"],
input[type="reset"],
.button,
a.button {
    display: inline-block;
    margin: 0;
    padding: 0.2em 0.8em;
    font-size: inherit;
    outline: none;
    color: $color_button_fg;
    border: 2px solid $color_button_border;
    background-color: $color_button_bg;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 0.4em 0.8em -0.2em rgba($color_button_bg, 0.25);
    transition-property: "background-image", "background-color", "color";
    transition-duration: 200ms;
    transition-timing-function: $transition_timing_ease_in_out;

    span {
        vertical-align: middle;
    }

    // Remove FF dotted line
    &::-moz-focus-inner {
        border: 0;
        outline: none;
    }

    &:focus {
        outline: none;
    }

    &:focus,
    &:hover {
        color: $color_button_active_fg;
        border-color: $color_button_active_border;
        background-color: $color_button_active_bg;
        box-shadow: 0 0.4em 0.8em -0.2em rgba($color_button_active_bg, 0.25);
    }

    &.button-action {
        overflow: hidden;
        padding: 0;
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;
        vertical-align: middle;
        display: inline-flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    &.button-primary {
        color: $color_primary_dark;
        border-color: $color_primary_light;
        background-color: $color_primary_light;
        box-shadow: 0 0.4em 0.8em -0.2em rgba($color_primary, 0.25);

        &:focus,
        &:hover {
            color: $color_primary_light;
            border-color: $color_primary_dark;
            background-color: $color_primary_dark;
            box-shadow: 0 0.4em 0.8em -0.2em rgba($color_primary_dark, 0.25);
        }
    }

    &.button-accent {
        color: #fff;
        border-color: $color_accent;
        background-color: $color_accent;
        box-shadow: 0 0.4em 0.8em -0.2em rgba($color_accent-dark, 0.25);

        &:focus,
        &:hover {
            color: $color_accent_dark;
            border-color: $color_accent_light;
            background-color: $color_accent_light;
            box-shadow: 0 0.4em 0.8em -0.2em rgba($color_accent_dark, 0.25);
        }
    }

    &.button-success {
        color: $color_success_dark;
        border-color: $color_success_light;
        background-color: $color_success_light;
        box-shadow: 0 0.4em 0.8em -0.2em rgba($color_success, 0.25);

        &:focus,
        &:hover {
            color: $color_success_light;
            border-color: $color_success_dark;
            background-color: $color_success_dark;
            box-shadow: 0 0.4em 0.8em -0.2em rgba($color_success_dark, 0.25);
        }
    }

    &.button-error {
        color: $color_error_dark;
        border-color: $color_error_light;
        background-color: $color_error_light;
        box-shadow: 0 0.4em 0.8em -0.2em rgba($color_error, 0.25);

        &:focus,
        &:hover {
            color: $color_error_light;
            border-color: $color_error_dark;
            background-color: $color_error_dark;
            box-shadow: 0 0.4em 0.8em -0.2em rgba($color_error_dark, 0.25);
        }
    }

    &.button-blank {
        border-color: transparent;
        background-color: transparent;
        box-shadow: none;

        &:focus,
        &:hover {
            border-color: $color_button_active_bg;
            background-color: $color_button_active_bg;
            box-shadow: 0 0.4em 0.8em -0.2em rgba($color_button_active_bg, 0.25);
        }

        &.button-action {
            &:hover,
            &:focus {
                color: $color_primary;
                box-shadow: none;
                border-color: transparent;
                background-color: transparent;
            }
        }
    }

    &.button-dark {
        color: $color_lighter;
        border-color: $color_darker;
        background-color: $color_darker;
        box-shadow: 0 0.4em 0.8em -0.2em rgba($color_darker, 0.25);

        &:focus,
        &:hover {
            color: $color_lightest;
            border-color: $color_darkest;
            background-color: $color_darkest;
            box-shadow: 0 0.4em 0.8em -0.2em rgba($color_darkest, 0.25);
        }
    }
}
