select,
input[type="checkbox"],
input[type="radio"],
input[type="submit"],
label,
button {
    cursor: pointer;

    &:active {
        cursor: pointer;
    }
}

input,
textarea,
select {
    padding: 0.4rem 0.8rem;
    border: 1px solid $color_input_border;
    color: $color_input_fg;
    background-color: $color_input_bg;

    &:focus {
        outline: none;
        color: $color_input_active_fg;
        border-color: $color_input_active_border;
        background-color: $color_input_active_bg;
    }
}

fieldset {
    width: 100%;
    margin: 2em auto 0;
    border: 3px solid $color_primary;
    border-radius: 3px;

    legend {
        font-weight: 700;
        background-color: $color_primary;
        padding: 0 0.5em;
        color: $color_lightest;
        border-radius: 3px;
    }

    fieldset {
        margin: 0;
        border: 1px solid $color_light;

        legend {
            background-color: $color_light;
        }
    }
}

.form-group {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto 1em;

    @media screen and (min-width: $size_m) {
        grid-template-columns: 1fr 2fr;
    }

    label {
        padding-right: 0.4em;
    }

    input,
    textarea,
    select {
        width: 100%;
    }

    input[type="checkbox"],
    input[type="radio"] {
        width: 1em;
        height: 1em;
        align-self: center;

        &:first-child {
            margin-right: 1em;
            justify-self: end;
        }

        &:last-child {
            justify-self: start;
        }
    }

    textarea {
        width: 100%;
        max-width: 100%;
        max-height: 70vh;
        min-height: 6em;
        resize: vertical;
    }
}

.form-group-checkbox {
    grid-template-columns: 1fr 2fr;

    input[type="checkbox"],
    input[type="radio"] {
        &:last-child {
            order: -1;

            @media screen and (min-width: $size_m) {
                order: 0;
            }
        }
    }
}

.form-group-submit {
    display: flex;
    margin: 1em auto;
    justify-content: space-between;
    align-items: center;

    button[type="submit"] {
        padding: 0.5em 2em;
        border: 0;
        color: lighten(mix($color_primary_light, $color_secondary_light), 10%);
        font-size: 1.1em;
        font-weight: 700;
        text-transform: uppercase;
        background-color: mix($color_primary, $color_secondary);
        box-shadow: 0 0.6em 0.8em -0.4em rgba(mix($color_primary, $color_secondary), 0.5);
        background-image: linear-gradient(
            135deg,
            $color_primary,
            $color_secondary
        );

        &:focus,
        &:hover {
            color: darken(mix($color_primary_dark, $color_secondary_dark), 0%);
            background-color: mix($color_primary_light, $color_secondary_light);
            box-shadow: 0 0.6em 0.8em -0.4em rgba(mix($color_primary, $color_secondary), 0.5);
            background-image: linear-gradient(
                135deg,
                $color_primary_light,
                $color_secondary_light
            );
        }
    }
}

.form-group-switch {
    $input_switch_track_width: 4em;
    $input_switch_track_height: 1.6em;
    $input_switch_toggle_width: (4em/3);
    $input_switch_toggle_height: 1.6em;

    label {
        position: relative;

        &::before,
        &::after {
            content: " ";
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            transition-duration: 200ms;
            transition-property: "background-color";
            transition-timing-function: $transition_timing_ease_in_out;
        }

        // Track
        &::before {
            text-align: right;
            padding-right: $input_switch_track_width/8;
            left: 100%;
            width: $input_switch_track_width;
            height: $input_switch_track_height;
            line-height: $input_switch_track_height;
            color: $color_input_fg;
            border: 1px solid $color_input_border;
            background-color: $color_input_bg;
        }

        // Toggle
        &::after {
            transition-property: "left", "background-color";
            left: 100%;
            width: $input_switch_toggle_width;
            height: $input_switch_toggle_height;
            line-height: $input_switch_toggle_height;
            border: 1px solid $color_input_fg;
            background-color: $color_input_fg;
        }
    }

    input {
        position: absolute;
        width: 1px;
        height: 1px;
        appearance: none;
        border: none;
        font-size: 1px;
        opacity: 0.1;

        &:focus {
            + label::before {
                border-color: $color_input_active_border;
                background-color: $color_input_active_bg;
            }
        }

        &:checked {
            + label::before {
                text-align: left;
                color: $color_success_dark;
                border-color: $color_success_dark;
                background-color: $color_success_light;
            }

            + label::after {
                left: 120%;
                left: calc(
                    100% + #{(
                            $input_switch_track_width -
                                $input_switch_toggle_width
                        )}
                );
                border-color: $color_success_dark;
                background-color: $color_success_dark;
            }
        }
    }

    &.form-group-switch-yn {
        label {
            &::before {
                content: "Nei";
                text-align: right;
                padding-right: $input_switch_track_width/8;
            }
        }

        input {
            &:checked {
                + label::before {
                    content: "Ja";
                    padding-right: 0;
                    padding-left: $input_switch_track_width/8;
                }
            }
        }
    }
}

.form-group-conditional {
    display: none;

    &.form-group-conditional-active {
        display: grid;
    }
}

.form-group-conditional-reverse {
    display: grid;

    &.form-group-conditional-active {
        display: none;
    }
}
