.component-field .cf-media-picker {
    cursor: pointer;
    padding: 1em 2em;
    background-color: red;

    &:focus,
    &:hover {
        background-color: blue;
    }

    &:active {
        background-color: green;
    }
}


#media-picker {
    display: none;
    grid-template-rows: 0 90vh 10vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;

    @media screen and (min-width: $size_medium) {
        grid-template-rows: 15vh 70vh 15vh;
    }

    @media screen and (min-width: $size_large) {
        grid-template-rows: 15vh 72.5vh 12.5vh;
    }

    @media screen and (min-width: $size_extra_large) {
        grid-template-rows: 15vh 75vh 10vh;
    }

    &.show {
        display: grid;
    }

    .media-picker-header,
    .media-picker-footer {
        background-color: #eee;
    }

    .media-picker-body {
        background-color: #fff;
    }
}

#media-picker .media-picker-header {
    display: flex;
    flex-direction: column;
    padding: 1em;

    h1,
    p {
        margin: 0;
    }

    p {
        display: none;
    }

    @media screen and (min-width: $size_large) {
        p {
            display: block;
        }
    }
}

#media-picker .media-picker-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-x: auto;
    grid-gap: 0.5em;
    padding: 0.5em;

    &::after {
        content: "";
        width: 100%;
        height: 4em;
        background-color: transparent;
    }

    @media screen and (min-width: $size_medium) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        padding: 1em;
    }

    @media screen and (min-width: $size_large) {
        padding: 2em;
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: $size_extra_large) {
        grid-template-columns: repeat(6, 1fr);
    }

    .media-picker-medium {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        border: 0.5em solid #fff;
        background-color: #fff;
        overflow: hidden;
        height: 10em;
    }

    .media-picker-medium-input {
        position: absolute;
        padding: 0;
        margin: 0;
        font-size: 1px;
        opacity: 0.1;
        width: 1px;
        height: 1px;
        -moz-appearance: none;
    }

    .media-picker-medium:focus,
    .media-picker-medium:hover,
    .media-picker-medium-input:focus + .media-picker-medium,
    .media-picker-medium-input:checked + .media-picker-medium {
        border-color: blue;
        background-color: blue;
    }
}

#media-picker .media-picker-footer {
    display: flex;
    flex-direction: column;

    .media-picker-footer-nav {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        @media screen and (min-width: $size_medium) {
            padding: 1em;
        }

        button {
            display: inline-block;
            margin: 0;
            border: none;
            padding: 0.5em 1em;
            color: lighten(mix(blue, #ccc, 50%), 33%);
            background-color: mix(blue, #ccc, 33%);

            &:focus,
            &:hover {
                color: lighten(blue, 30%);
                background-color: darken(blue, 30%);
            }

            @media screen and (min-width: $size_medium) {
                padding: 1em 2em;
            }

            &:first-child {
                color: #222;
                background-color: #aaa;

                &:hover,
                &:focus {
                    background-color: #222;
                    color: #aaa;
                }

                @media screen and (min-width: $size_medium) {
                    margin-right: 2em;
                }
            }

            &:last-child {
                margin-left: auto;
                color: #fff;
                background-color: lighten(blue, 10%);

                @media screen and (min-width: $size_medium) {
                    padding: 1em 4em;
                }

                &:hover,
                &:focus {
                    color: lighten(blue, 30%);
                    background-color: darken(blue, 30%);
                }
            }
        }
    }
}
