#nav-main-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    color: $color_lightest;
    background-color: mix($color_primary, $color_secondary, 60%);
    background-image: linear-gradient(135deg, $color_primary, $color_secondary);

    @media screen and (min-width: $size_s) {
        padding: 2em;
    }

    @media screen and (min-width: $size_l) {
        padding: 2em 4em;
    }

    @media screen and (min-width: $size_xl) {
        padding: 2em 8em;
    }

    .nav-logo {
        display: block;
        text-decoration: none;
        margin: auto;
        margin-right: 1em;
        font-weight: 700;
        flex-shrink: 0;

        .logo,
        .icon {
            height: 100%;
            width: auto;
        }

        .logo {
            display: none;
            max-height: 2em;
        }

        .icon {
            max-height: 3em;
            min-width: 1em;
            min-height: 1em;
        }

        .icon-logo {
            width: 2em;
            display: inline-block;
            margin-right: 0.4em;
        }

        @media screen and (min-width: $size_m) {
            .logo {
                display: block;
            }

            .icon {
                display: none;
            }
        }
    }

    .nav-link {
        color: currentColor;
        text-decoration: none;

        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }

    .nav-left,
    .nav-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .nav-left {
        margin-right: auto;
    }

    .nav-right {
        margin-left: auto;

        .nav-link {
            margin-right: 0.6em;
            font-size: 12px;

            @media screen and (min-width: $size_s) {
                font-size: 14px;
            }

            @media screen and (min-width: $size_l) {
                font-size: inherit;
                margin-right: 2em;
            }
        }

        .dropdown {
            @media screen and (min-width: $size_l) {
                margin-left: 4em;
            }
        }

        .user-dropdown .dropdown-trigger img {
            padding: 2px;
            background-color: $color_lightest;
        }
    }
}
